body, h1, h5, h4, h3, pre {
  /* font-family: 'Roboto Mono', Consolas !important; */
}

.w-max {
  width: 100%;
}

.t-area {
  min-height: 64px !important;
  max-height: 256px !important;
  width: 100%;
  overflow-x: hidden;
}

.mx-xs {
  margin-left: 4px;
  margin-right: 4px;
}