body, h1, h5, h4, h3, pre {
  /* font-family: 'Roboto Mono', Consolas !important; */
}

.w-max {
  width: 100%;
}

.t-area {
  min-height: 64px !important;
  max-height: 256px !important;
  width: 100%;
  overflow-x: hidden;
}

.mx-xs {
  margin-left: 4px;
  margin-right: 4px;
}

.mx-xxs {
  margin-left: 2px;
  margin-right: 2px;
}

.v-mid {
  vertical-align: middle
}

.row.n-pad > div {
  padding-left: 0px;
  padding-right: 0px;
}

.x-pad {
  padding-left: 16px;
  padding-right: 16px;
}

.search-max {
  max-height: 256px;
  overflow-y: auto;
}